<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="sidebar-logo">
      <div class="logo-icon">✝</div>

      <div class="logo-text">
        <h2>SOFI</h2>
        <p>Sistema De Gestión IDP</p>
      </div>
    </div>

    <nav class="nav">

      <div class="nav-section">Principal</div>

      <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
        <span class="icon">🏛️</span>
        Dashboard
      </a>

      <div class="nav-section">Personas</div>

      <a routerLink="/members" routerLinkActive="active" class="nav-item">
        <span class="icon">👥</span>
        Miembros
        <span class="badge">{{ totalMembers }}</span>
      </a>

      <a routerLink="/users" routerLinkActive="active" class="nav-item">
        <span class="icon">🔑</span>
        Usuarios
      </a>

      <div class="nav-section">Sistema</div>

      <a routerLink="/roles" routerLinkActive="active" class="nav-item">
        <span class="icon">🛡️</span>
        Roles
      </a>

    </nav>
  </aside>

  <!-- MAIN -->
  <div class="content">

    <header class="header">
      <h1>Panel</h1>
      <input class="search" placeholder="🔍 Buscar..." />
      <div class="avatar">A</div>
    </header>

    <main class="main">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>